header {
  background-color: #008F95; }
  header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    font-size: 3em;
    color: #FFDB58; }
  header li {
    font-family: 'Open Sans', sans-serif; }
  header nav ul {
    background-color: #de5d83;
    margin: 0; }
  header nav li {
    padding: 0 5%; }

.logo-header {
  display: flex;
  height: 9.5vh; }
  .logo-header li {
    list-style: none;
    display: inline-block; }

.sib {
  margin: 0;
  width: 33.3333333333%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; }
  .sib li {
    padding-right: 1vw;
    text-align: center; }
    .sib li i {
      font-size: 1.65em; }
      .sib li i:hover {
        color: #de5d83; }
      .sib li i.fa-shopping-cart {
        font-size: 1em; }

.navbar {
  width: 100vw;
  z-index: 1; }
  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; }
    .navbar ul li {
      list-style: none;
      display: inline-block; }

@media only screen and (min-width: 600px) {
  .sib li {
    padding-right: 3vw;
    font-size: 1.5em; }

  .navbar ul {
    height: 4vh; } }
img {
  position: absolute;
  top: 0px; }

.shelf {
  background-color: #008F95;
  padding: 1.5vh 8vw; }
  .shelf > div:not(:first-child) {
    display: none; }

.album {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  float: left;
  margin-right: 10%;
  margin-bottom: 10%;
  width: 100%;
  position: relative; }
  .album:before {
    content: "";
    display: block;
    padding-top: 100%; }

@media only screen and (min-width: 600px) {
  .shelf {
    background-color: #ccc;
    overflow-x: scroll;
    height: 27vh; }
    .shelf > div:not(:first-child) {
      display: block; }

  .album {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 31.3333333333%; }
    .album:before {
      content: "";
      display: block;
      padding-top: 100%; }
    .album:nth-child(3n) {
      margin-right: 0; } }
@media only screen and (min-width: 991px) {
  .shelf {
    max-height: 30vh;
    background-color: #ccc; }

  .album {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 18.4%; }
    .album:nth-child(3n) {
      margin-right: 2%; }
    .album:nth-child(4n) {
      margin-right: 2%; }
    .album:nth-child(5n) {
      margin-right: 0%; } }
.news {
  background-color: white;
  clear: both;
  height: 28vh;
  overflow-y: hidden; }

.card {
  background-color: #E24E42;
  margin: 0;
  width: 33.3333333333%;
  height: 100%;
  float: left; }

@media only screen and (min-width: 600px) {
  .news {
    padding: 1% 2%;
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center; }

  .card {
    background-color: #FFDB58;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 32%;
    height: 78%; } }
@media only screen and (min-width: 991px) {
  height: 22vh; }
footer {
  height: 11.5vh;
  background-color: #008F95;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer li {
    list-style: none; }
  footer > * {
    margin: 5%;
    font-family: 'Open Sans', sans-serif; }

html * {
  box-sizing: border-box; }

/* For testing only */
body {
  margin: 0;
  background-color: #008F95; }

img {
  width: 100%; }

a, a:active, a:hover, a:visited {
  color: #fff;
  text-decoration: none; }

a:active, a:hover {
  color: #de5d83; }

.container {
  width: 100%; }

.clearfix:after {
  content: "";
  clear: both;
  background-color: lightblue; }

/*# sourceMappingURL=output.css.map */
