header {

  h1{
    @include flexy;
  }
  background-color: $header;
  nav{
    ul {
      background-color: $navbar;
      margin:0;
      }
    }
}

.logo-header{
  display: flex;
  @include listy;
  height: 9.5vh;
}
.sib{
  @include share3;
  @include flexy;
}
.navbar{
  width: 100vw;
    ul{
      @include listy;
      @include flexy;
      height: 4vh;
    }
}
