header {
  h1{
    @include flexy;
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    font-size: 2.5em;
    color: $mustard;
    background-color: $header;
  }
  li{
    font-family: 'Open Sans', sans-serif;
  }
  nav ul {
        background-color: $papaya;
        margin:0;
      }
}
.logo-header{
  display: flex;
  @include listy;
  height: 9.5vh;
}
.sib{
  @include share3;
  @include flexy;
  padding: 0;
  li{
    text-align: center;
    i{
      font-size: 1.65em;
      &:hover {
        color:$blush;
      }
      &.fa-shopping-cart{
        font-size: 1em;
      }
    }
  }
}
.navbar{
  width: 100vw;
  z-index: 1;
  ul{
    a:hover{
      color: $aqua;
      font-size: 1.5em;
    }
    height: 7vh;
    @include listy;
    @include flexy;

  }
}

@media #{$charmeleon}{
  .sib{
    li{
      font-size: 1.25em;
    }
  }
  .navbar{
    ul{
      height: 4vh;
    }
  }
}
