header {
  h1{
    @include flexy;
    text-align: center;
    font-family: 'Londrina Outline', cursive;
    font-size: 3em;
    color: $mustard;
  }
  li{
    font-family: 'Open Sans', sans-serif;
  }
  background-color: $header;
    nav{
      ul {
        background-color: $blush;
        margin:0;
        }
        li{
          padding: 0 5%;
          }
      }
}
.logo-header{
  display: flex;
  @include listy;
  height: 9.5vh;
}
.sib{
  @include share3;
  @include flexy;
  padding: 0;
  li{
    padding-right: 1vw;
    text-align: center;
    i{
      font-size: 1.65em;
      &:hover {
        color:$blush;
      }
      &.fa-shopping-cart{
        font-size: 1em;
      }
    }
  }
}
.navbar{
  width: 100vw;
  z-index: 1;
  ul{
    @include listy;
    @include flexy;
    height: 10vh;
  }
}

@media #{$charmeleon}{
  .sib{
    li{
      padding-right: 3vw;
      font-size: 1.5em;
    }
  }
  .navbar{
    ul{
      height: 4vh;
    }
  }
}
