.news{
  background-color: white;
  clear: both;
  height: 28vh;
  overflow-y:hidden;
}

.card {
  background-color: $album;
  @include share3;
  float:left;
}

@media#{$charmeleon}{
  .news{
    padding: 1% 2%;
    height: 28vh;
    @include flexy;
  }
  .card{
    background-color: $navbar;
    @include fit-on-shelf(5,2%);
    height:78%
  }
}

@media #{$charizard}{
  height: 22vh;
}
