// Styles for Album Shelves
.shelf {
  background-color: $container;
  padding: 1.5vh 8vw;
  height: 25vh;
  overflow-x: scroll;

  .album {
    background-color: $album;
    min-height: 250px;
    @include fit-on-shelf(4,2%);
  }
}
