// Styles for Album Shelves

.shelf img{
  position: absolute;
  top:0px;
}
// mobile view styling: removes all but first album on each shelf.
.shelf{
  background-color: $footer;
  padding: 1.5vh 8vw;
  & > div:not(:first-child){
    display: none;
  }
}
.album{
  position: relative;
  @include background;
  @include fit-on-shelf(1,10%);
  @include square;
}
// fit the albums on the shelves for tablet screen sizes. removes margin from last item in 4 album row.
@media #{$charmeleon}{

  .shelf {
//returns the rest of the albums that were hidden from the shelf for mobile
    & > div:not(:first-child){
      display: block;
    }

    background-color: $container;
    overflow-x: scroll;
    height: 27vh;
//adds picture using mixin that cycles through a for loop changing this image #
    // & > .album {
    //   @include pic;
    // }
  }
  .album {
    @include background;
    // background: url("../img/album1.jpg");
    @include square;
    @include fit-on-shelf(3,3%);
      &:nth-child(3n){
        margin-right:0;
      }
  }
}
// fit the albums on the shelves for desktop screen sizes. adds margin on 4th album in row. removes margin from last item in 5 album row.
@media #{$charizard}{
  .shelf {
    max-height: 30vh;
    background-color: $container;
  }
  .album {
    @include fit-on-shelf(5,2%);
    &:nth-child(3n){
      margin-right:2%;
    }
    &:nth-child(4n){
      margin-right:2%;
    }
    &:nth-child(5n){
      margin-right:0%;
    }
  }
}
