html *{
  box-sizing: border-box;
}

// for wireframing:
*:not(body):not(html){
  border: 1px dashed #ccc;
}

body{
  margin:0;
  background-color: $footer;
}
// makes container full width, white background
.container {
  width: 100%;
}
//clearfix (@extend this when a parent collapses)
.clearfix {
  &:after {
    content:"";
    clear:both;
    // color tester:
    background-color: lightblue;
  }
}
