
//share 3 ways - split the screen width 3 ways between sibling elements with "sib" class
@mixin share3{
  margin:0;
  width: (100% / 3);
  height: 100%;
}
// makes items in a list inline and unstyled
@mixin listy{
  & li {
    list-style:none;
    display: inline-block;
  }
}
//turn into flex container and center items vertically and horizontally inside
@mixin flexy{
  display: flex;
  justify-content: center;
  align-items: center;
}
//align items center
@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}
//define number of albums on shelf and space between them
@mixin fit-on-shelf($albums, $margin){
  float:left;
  margin-right: $margin;
  margin-bottom:$margin;
  width: ((100% - (($albums - 1) * $margin)) / $albums);
  &:nth-child(#{$albums}n){
    background-color:palevioletred;
    margin-right:0;
  }
}
