// 🎨colors
// papaya
$album: #E24E42;
//AQUA header and footer
$header: #008F95;
$footer: $header;
//blush #de5d83
$container: #ccc;
//mustard
$navbar: #FFDB58;

//💻breakpoints🖥
$charmander: "only screen and (max-width: 767px)";
$charmeleon: "only screen and (min-width: 768px)";
$charizard: "only screen and (min-width: 991px)";
